 <head>
   <link rel="stylesheet" href="app.component.css">
 </head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="header">
   <img src="../assets/img/libraryicon1.jpg" class="img-thumbnail" alt="Image not found" width="100" height="100">
   <div class="header-right">
     <h1 style="padding:10px;">Library Management System</h1>
   </div>
 </div>
<br>

 <router-outlet></router-outlet>

<br>
<br>
 <div class="footer">
   <div class="footer-content">

    <div class="footer-section time">
      <h2>&nbsp;<u>Features</u></h2>
      <div class="contact">
        <i>&nbsp;1. Avaliable all time.</i><br>
        <i>2. Easy issue and return policy.</i><br>
        <i>3. Offline store Avaliable.</i>
      </div>
    </div>

    <div class="footer-section about">
      <h2><u>Contact us</u></h2>
      <div class="contact">
        <i class="fa fa-home" aria-hidden="true"> &nbsp; Vidya Nagar Hubli</i><br>
        <i class="fa fa-phone"> &nbsp; +91-9871546230</i><br>
        <i class="fa fa-envelope-o"> &nbsp; info@ibraryms.com</i>
      </div>
    </div>

    <div class="footer-section followus">
      <h2><u>Follow us</u></h2>
      <div class="socials">
        <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
        <a href="https://www.gmail.com/"><i class="fa fa-google"></i></a>
        <a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
        <a href="https://www.twitter.com/"><i class="fa fa-twitter"></i></a>
        <a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
        <a href="https://www.youtube.com/"><i class="fa fa-youtube"></i></a>
      </div>
    </div>

   </div>
 </div>
