 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

 <head>
   <link rel="stylesheet" href="first-page.component.css">
 </head>

 <form style="text-align: center;">
   <br>
   <label style="font-size: 15px;"><b>Student</b></label>
   <input type="image" src="../assets/img/admin.png" alt="Submit" (click)="adminpage()"
     style="display:block; margin-left: auto; margin-right: auto;" height="170px" width="200px">
   <br>
   <label style="font-size: 15px;"><b>Admin</b></label>
   <input type="image" src="../assets/img/user.jpg" alt="Submit" (click)="userpage()"
     style="display:block; margin-left: auto; margin-right: auto;">
 </form>
